{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}


{% block content %}

<div class="container mt-5">

<div class="row justify-content-center">

<div class="col-md-6">


<div class="card shadow-lg rounded-4">

<div class="card-body p-4">


<h2 class="text-center mb-4">
🔐 Change Password
</h2>


{% if error %}

<div class="alert alert-danger">
{{ error }}
</div>

{% endif %}


{% if success %}

<div class="alert alert-success">
{{ success }}
</div>

{% endif %}



<form method="POST">


<label>
Current Password
</label>

<input 
type="password"
name="current_password"
class="form-control mb-3"
required>



<label>
New Password
</label>

<input 
type="password"
name="new_password"
class="form-control mb-3"
required>



<label>
Confirm New Password
</label>

<input 
type="password"
name="confirm_password"
class="form-control mb-3"
required>



<button class="btn btn-primary w-100">

Update Password 🔐

</button>


</form>



</div>

</div>


</div>

</div>

</div>


{% endblock %}